html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/hero-background.jpg);
    background-size: cover;
    background-position: center 20%;
    font-family: "Acme", sans-serif;
    color: #855d58;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    body {
        background-position: center top;
    }
}

.hero-section {
    margin: 10%;
    width: 80%;
}

.hero-title {
    font-size: 3rem;
}

.hero-description {
    font-size: 1.6rem;
    text-shadow: 0px 0px 0.2rem #fafaff;
}

.underline {
    border-bottom: 2px solid #fafaff;
}

.btn {
    background: #fafaff;
    border: none;
    padding: 0.5rem 1.2rem;
    color: #855d58;
    font-weight: bold;
    font-family: "Acme", sans-serif;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: #855d58;
    color: #fafaff;
}