/****************** Start CSS Reset ***********************/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/******************** End CSS Reset **********************/

/* Palette */
:root {
    --color-rose-taupe: #855d58;
    --color-ghost-white: #fafaff;
    --color-gray-silver: #ada39e;
    --color-ivory: #ffffef;
    --color-light-yellow-green: #F2F6DD;

    /* Breakpoints:
    tablet-portrait: 600px;
    tablet-landscape: 768px;
    desktop: 992px
    large-desktop: 1200px */
}

* {
    box-sizing: border-box;
}

html, body {
    --font-size: 14px;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: "Acme", sans-serif;
    color: var(--color-rose-taupe);
    line-height: 1.6;
}

@media screen and (min-width: 600px) {
    html, body {
        --font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    html, body {
        --font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    html, body {
        --font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {
    html, body {
        --font-size: 18px;
    }
}

/* Global Styles */
.btn {
    background: var(--color-ghost-white);
    border: none;
    padding: 0.5rem 1.2rem;
    color: var(--color-rose-taupe);
    font-weight: bold;
    font-family: "Acme", sans-serif;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--color-rose-taupe);
    color: var(--color-ghost-white);
}

.underline {
    border-bottom: 0.15rem solid var(--color-ghost-white);
}

/* Navigation */
nav {
    background-color: var(--color-ghost-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
}

nav .btn {
    margin: 0;
}

/* Homepage Styles */
.homepage {
    background: url(img/homepage-hero.jpg);
    background-size: cover;
    background-position: 10% top;
    background-attachment: fixed;
}

@media screen and (min-width: 992px) {
    .homepage {
        background-position: center 40%;
    }
}

.hero-section {
    margin: 10%;
    width: 80%;
}

.hero-title {
    font-size: 3rem;
}

.hero-description {
    font-size: 1.6rem;
    text-shadow: 0 0 0.2rem var(--color-ghost-white);
}

/* About Page Styles */
.about-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(img/about-hero.jpg);
    background-size: cover;
    background-position: center 20%;
    height: 36rem;
}

.about-hero h1 {
    font-size: 3rem;
    color: var(--color-ghost-white);
    background-color: var(--color-rose-taupe);
    padding: 0.3rem 1rem;
    border-radius: 0.8rem;
    margin: 1rem;
}

.about-hero h2 {
    font-size: 1.6rem;
    color: var(--color-ghost-white);
    background-color: var(--color-gray-silver);
    padding: 0.3rem 3rem;
    border-radius: 0.8rem;
    margin: 1rem;
}

@media screen and (min-width: 600px) {
    .about-hero h2 {
        max-width: 40rem;
    }
}

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--color-ivory);
}

.skills-section h3 {
    margin: 0 auto;
    font-size: 1.8rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin: 1rem 0;
    text-align: center;
    flex-grow: 1;
    max-width: 20rem;
}

.skill h4 {
    font-size: 1.3rem;
}

.skill-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    margin: 0 1rem;
    padding: 1.8rem;
    box-shadow: 0 0rem 0.8rem rgba(0, 0, 0, 0.1) inset;
}

.skill-img-container .gif-img {
    display: none;
}

.skill:hover .static-img {
    display: none;
}

.skill:hover .gif-img {
    display: block;
}

@media screen and (min-width: 600px) {
    .skill {
        flex-direction: row;
        text-align: left;
        width: 80%;
        max-width: 80%;
    }

    .skill:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 768px) {
    .skills-container {
        flex-direction: row;
        justify-content: center;
    }

    .skill {
        width: 40%;
        max-width: 40%;
        flex-direction: column;
        text-align: center;
        padding: 0 1.5rem;
    }

    .skill:nth-child(odd) {
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
    .skills-container {
        justify-content: center;
        align-items: start;
    }

    .skill {
        width: 30%;
        max-width: 30%;
        justify-content: center;
    }
}

.projects-section {
    background: var(--color-light-yellow-green);
    padding: 2rem 0;
}

.projects-section h3 {
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}

.project {
    background: var(--color-ghost-white);
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 12rem;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
    width: 30rem;
    max-width: 95%;
    margin: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.project-img-container {
    height: 10rem;
    overflow: hidden;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.contain {
    object-fit: contain;
}

#muscle-mastery {
    background-color: #60777f;
}

.project-details {
    padding: 1rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.project-details h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    flex: 0 0 auto;
}

.project-details p {
    font-size: 1rem;
    margin-bottom: 1rem;
    flex: 1 1 auto;
}

.project-details .btn {
    background: var(--color-light-yellow-green);
    border: none;
    padding: 0.5rem 1.2rem;
    color: var(--color-rose-taupe);
    font-weight: bold;
    font-family: "Acme", sans-serif;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
    flex: 0 0 auto;
}

.project-details .btn:hover {
    background: var(--color-rose-taupe);
    color: var(--color-ghost-white);
}

@media screen and (min-width: 992px) {
    .projects-container {
        flex-direction: row;
        align-items: stretch;
    }

    .project {
        width: 30%;
        transition: transform 0.2s ease-in-out;
    }

    .project:hover {
        transform: translateY(-1rem);
    }
}

.my-philosophy-section {
    display: flex;
    justify-content: center;
    background-color: var(--color-ghost-white);
    padding: 4rem;
}

.my-philosophy-card {
    width: 90%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-light-yellow-green);
    border-radius: 1rem;
    border-bottom: 0.4rem solid var(--color-rose-taupe);
}

.my-philosophy-card-text {
    width: 100%;
    padding: 0 1rem;
}

.my-philosophy-card-text h3 {
    margin: 0;
}

.my-philosophy-card img {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
    .my-philosophy-card {
        width: 30rem;
        padding: 1.6rem;
    }
}

@media screen and (min-width: 992px) {
    .my-philosophy-card {
        flex-direction: row-reverse;
    }

    .my-philosophy-card img {
        margin-bottom: 1rem;
    }

    .my-philosophy-card-text {
        width: 60%;
    }
}

/* Footer Styles */
footer {
    background-color: var(--color-ghost-white);
    padding: 1.5rem 0.5rem;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container a {
    color: var(--color-rose-taupe);
    text-decoration: none;
    margin: 0.5rem 0;
    font-weight: bold;
}

.footer-container a:hover {
    color: var(--color-gray-silver);
}

.footer-container p {
    margin: 0.5rem 0;
    font-weight: bold;
}

.footer-container p a {
    color: var(--color-rose-taupe);
}

.footer-container p a:hover {
    color: var(--color-gray-silver);
}

@media screen and (min-width: 600px) {
    footer {
        padding: 2rem 1rem;
    }
}
