/****************** Start CSS Reset ***********************/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/******************** End CSS Reset **********************/

/* Palette */
:root {
    --color-rose-taupe: #855d58;
    --color-ghost-white: #fafaff;
    --color-gray-silver: #ada39e;
    --color-ivory: #ffffef;
    --color-light-yellow-green: #F2F6DD;

    /* Breakpoints:
    tablet-portrait: 600px;
    tablet-landscape: 768px;
    desktop: 992px
    large-desktop: 1200px */
}

/* Utopia fluid type scales */
/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1500,20,1.333,4,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --fluid-min-width: 320;
    --fluid-max-width: 1500;

    --fluid-screen: 100vw;
    --fluid-bp: calc(
        (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
        (var(--fluid-max-width) - var(--fluid-min-width))
    );
}

@media screen and (min-width: 1500px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}

:root {
    --f-0-min: 17.00;
    --f-0-max: 20.00;
    --step-0: calc(
        ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
        var(--fluid-bp)
    );

    --f-1-min: 20.40;
    --f-1-max: 26.66;
    --step-1: calc(
        ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
        var(--fluid-bp)
    );

    --f-2-min: 24.48;
    --f-2-max: 35.54;
    --step-2: calc(
        ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
        var(--fluid-bp)
    );

    --f-3-min: 29.38;
    --f-3-max: 47.37;
    --step-3: calc(
        ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
        var(--fluid-bp)
    );

    --f-4-min: 35.25;
    --f-4-max: 63.15;
    --step-4: calc(
        ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
        var(--fluid-bp)
    );
}

/* Utopia fluid space scales */
/* @link https://utopia.fyi/space/calculator?c=320,17,1.2,1500,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|xl-3xl&g=s,l,xl,12 */

:root {
    --fc-3xs-min: (var(--fc-s-min) * 0.25);
    --fc-3xs-max: (var(--fc-s-max) * 0.25);

    --fc-2xs-min: (var(--fc-s-min) * 0.5);
    --fc-2xs-max: (var(--fc-s-max) * 0.5);

    --fc-xs-min: (var(--fc-s-min) * 0.75);
    --fc-xs-max: (var(--fc-s-max) * 0.75);

    --fc-s-min: (var(--f-0-min, 17));
    --fc-s-max: (var(--f-0-max, 20));

    --fc-m-min: (var(--fc-s-min) * 1.5);
    --fc-m-max: (var(--fc-s-max) * 1.5);

    --fc-l-min: (var(--fc-s-min) * 2);
    --fc-l-max: (var(--fc-s-max) * 2);

    --fc-xl-min: (var(--fc-s-min) * 3);
    --fc-xl-max: (var(--fc-s-max) * 3);

    --fc-2xl-min: (var(--fc-s-min) * 4);
    --fc-2xl-max: (var(--fc-s-max) * 4);

    --fc-3xl-min: (var(--fc-s-min) * 6);
    --fc-3xl-max: (var(--fc-s-max) * 6);

    /* T-shirt sizes */
    --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
    --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
    --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
    --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
    --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
    --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
    --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
    --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
    --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));

    /* One-up pairs */
    --space-3xs-2xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
    --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
    --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
    --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
    --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
    --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
    --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
    --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));

    /* Custom pairs */
    --space-xs-m: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-xs-min)) * var(--fluid-bp));
    --space-s-l: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-s-min)) * var(--fluid-bp));
    --space-xl-3xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
}

body {
    color: var(--color-rose-taupe);
    background: var(--color-ghost-white);
    font-size: var(--step-0);
    font-family: "Acme", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-3);
}

h3 {
    font-size: var(--step-2);
}

h4 {
    font-size: var(--step-1);
}

/* Composition */
.flow > * + * {
    margin-top: var(--space-s, 1em);
}

.flow--m > * + * {
    margin-top: var(--space-m, 0.6em);
}

/* Utilities */
.wrapper {
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 1200px;
}

.wrapper--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper--full {
    width: 100%;
}

.wrapper--homepage {
    padding-left: var(--space-s-l);
    padding-top: var(--space-s-l);
}

.button {
    background: var(--color-ghost-white);
    border: none;
    padding: var(--space-xs) var(--space-m);
    color: var(--color-rose-taupe);
    font-size: var(--step-0);
    font-family: "Acme", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
    background: var(--color-rose-taupe);
    color: var(--color-ghost-white);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--space-xs-s);
    flex-wrap: wrap;
    width: 100%;
}

.container--projects {
    justify-content: space-around;
    gap: var(--space-m);
}

@media screen and (min-width: 992px) {
    .container--projects {
        flex-direction: row;
        align-items: stretch;
    }
}

.container--skills {
    justify-content: space-between;
    gap: var(--space-m);
}

@media screen and (min-width: 768px) {
    .container--skills {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

.footer {
    color: var(--color-ghost-white);
    background: var(--color-rose-taupe);
    font-weight: bold;
    text-align: center;
}

.footer__element {
    margin: 0;
}

.footer__link {
    color: var(--color-ghost-white);
    text-decoration: none;
}

.footer__link:hover {
    color: var(--color-gray-silver);
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--space-s-l);
}

.hero--centered {
    justify-content: center;
    align-items: center;
}

.hero__background--about {
    background: url(img/about-hero.jpg);
    background-size: cover;
    background-position: center 20%;
    height: 36rem;
}

.hero__background--homepage {
    background: url(img/homepage-hero.jpg);
    background-size: auto;
    background-position: left 30%;
    min-height: 100vh;
}

@media screen and (min-width: 768px) {
    .hero__background--homepage {
        background-size: cover;
        background-position: left 20%;
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .hero__background--homepage {
        background-size: cover;
        background-position: center 35%;
    }
}

.hero__heading {
    text-align: left;
}

.hero__heading--block {
    color: var(--color-ghost-white);
    background-color: var(--color-rose-taupe);
    padding: var(--space-3xs) var(--space-xs);
    border-radius: 0.8rem;
}

.hero__heading--centered {
    text-align: center;
}

.hero__heading--underline {
    box-shadow: 0 10px 6px -6px var(--color-ghost-white);
}

.hero__tagline {
    font-size: var(--step-2);
}

.hero__tagline--block {
    color: var(--color-ghost-white);
    background-color: var(--color-gray-silver);
    padding: var(--space-3xs) var(--space-xs);
    border-radius: 0.8rem;
}

.hero__tagline--centered {
    text-align: center;
}

.hero__tagline--glow {
    text-shadow: 0 0 0.2rem var(--color-ghost-white);
}

.item {
    display: flex;
    flex-direction: column;
    margin: var(--space-s) var(--space-xs);
}

.item--philosophy {
    align-items: center;
    padding: var(--space-m-l);
    background-color: var(--color-light-yellow-green);
    border-radius: 1rem;
    border-bottom: var(--space-2xs) solid var(--color-rose-taupe);
    gap: var(--space-s-m);
    max-width: 30rem;
}

@media screen and (min-width: 992px) {
    .item--philosophy {
        flex-direction: row;
        max-width: 40rem;
    }
}

.item--project {
    background: var(--color-ghost-white);
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 12rem;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.item--project:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 992px) {
    .item--project {
        width: 28%;
        transition: transform 0.2s ease-in-out;
    }

    .item--project:hover {
        transform: translateY(-1rem);
    }
}

.item--skill {
    align-items: center;
    text-align: center;
    gap: var(--space-s);
}

.item--skill:hover .item__icon--animated {
    display: block;
}

.item--skill:hover .item__icon--static {
    display: none;
}

@media screen and (min-width: 600px) {
    .item--skill {
        flex-direction: row;
        text-align: left;
    }

    .item--skill:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 768px) {
    .item--skill {
        max-width: 40%;
        flex-direction: column;
        text-align: center;
    }

    .item--skill:nth-child(odd) {
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
    .item--skill {
        max-width: 28%;
        justify-content: center;
    }
}

.item__button {
    background: var(--color-light-yellow-green);
    flex: 0 0 auto;
}

.item__copy-container {
    display: flex;
    flex-direction: column;
}

.item__copy-container--philosophy {
    padding: 0 var(--space-m);
}

.item__copy-container--project {
    align-items: center;
    flex-grow: 1;
    padding: var(--space-m) var(--space-xs-m) var(--space-xl);
}

.item__description {
    flex: 1 1 auto;
}

.item__description--philosophy {
    margin-top: 0;
}

.item__heading {
    margin: 0;
}

.item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    padding: var(--space-m);
    box-shadow: 0 0 var(--space-xs) rgba(0, 0, 0, 0.1) inset;
}

.item__icon--animated {
    display: none;
}

.item__icon--static {
    display: block;
}

.item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.item__image--contain {
    object-fit: contain;
}

.item__image--muscle-mastery {
    background-color: #60777f;
}

.item__image-container {
    height: 10rem;
    overflow: hidden;
}

.item__portrait {
    border-radius: 1rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav--bar {
    background-color: var(--color-gray-silver);
}

.nav--buttons {
    gap: var(--space-xs-s);
}

.nav__link {
    display: block;
    color: var(--color-ghost-white);
    text-align: center;
    text-decoration: none;
    padding: var(--space-2xs) var(--space-s);
}

.nav__link:hover {
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 var(--space-xs) rgba(0, 0, 0, 0.1) inset;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-xl-2xl) 0;
}

.section--ivory {
    background-color: var(--color-ivory);

}

.section--yellowgreen {
    background-color: var(--color-light-yellow-green);
}

.section__heading {
    text-align: center;
    margin: 0;
}
